<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StatExtractor.Properties.Settings.nhl94ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nhl94.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>